<!DOCTYPE html>
<html lang="en" th:replace="~{layoutFile :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Comments Bookmarks - Reactive Microservices Workshop</title>
</head>
<body>
<section>
  <h1 class="text-3xl font-bold leading-tight text-gray-900 py-5">Bookmarks</h1>
  <ul class="list-disc">
    <li><a href="http://localhost:8000">Posts Service</a></li>
    <li><a href="http://localhost:8001">Comments Service</a></li>
    <li><a href="http://localhost:3000">Grafana</a></li>
    <li><a href="http://localhost:9000">Prometheus</a></li>
    <li><a href="http://localhost:9411">Zipkin</a></li>
  </ul>
</section>
</body>
</html>

